<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  
  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width">
  
  <title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}</title>

  <!-- Primary Meta Tags -->
  
  <meta name="title" content="{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}">
  <meta name="description" content="{{ site.description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/social.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta property="twitter:title" content="{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}">
  <meta property="twitter:description" content="{{ site.description }}">
  <meta property="twitter:image" content="{{ site.url }}{{ site.baseurl }}/img/social.jpg">
  
  <!-- bower:css -->
  <!-- endbower -->

  <link rel="stylesheet" href="{{ site.baseurl }}/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css">
  
  <!-- Icons -->
  <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon">

</head>