<div class="row">
  <div class="col">

{% include bio.html 
  name="Darrin Baker" 
  role="Executive Producer/Director" 
  content="Darrin lives in a yellow house under the flight path in Marrickville, Sydney. He likes to make films, because it’s fun (and sometimes difficult) and if you make them well enough, people will sit still long enough to watch them, and find something in it for them. He likes a lot of other things in life, for example hot chips, but we won’t go into that right now." %}
  
  </div>
  <div class="col">

{% include bio.html 
  name="Nick Payne" 
  role="Producer/Director" 
  content="Director/cinematographer from Marrickville, Australia. Plays well with music videos, short films, documentaries, product photography, and others. From shooting silent Super 8 in high school through to Super VHS in the 90’s and now living in a whole new digital world. Looking forward to listening to and telling the story of the impact of COVID-19 on the lives of locals living in the Inner West." %}

  </div>
</div>
<div class="row">
  <div class="col">
    
{% include bio.html 
  name="Justine Wahlin" 
  role="Director" 
  content="Justine has directed and produced multiple music videos to accompany songs from her musical releases, all with a strong focus on narrative. Her love of music and poetry have joined her love of other multimedia art forms including painting, hand drawn animation and stop animation and together they take a deep dive into the world of moving pictures." %}

  </div>
  <div class="col">
    
{% include bio.html 
  name="Lyn Taylor" 
  role="Director" 
  content="Lyn has been a photographer since 2001 and in a band since 2006. This is her passion. She's inspired by photographers such as Annie Leibovitz, and musicians like Lukas Nelson. She believes that art, music and imagery are intertwined to communicate to others an emotion... a message." %}

  </div>
</div>
<div class="row">
  <div class="col">
    
{% include bio.html 
  name="Steve Connolly" 
  role="Director" 
  content="Coming soon..." %}

  </div>
  <div class="col">
    
{% include bio.html 
  name="Maria Reynolds" 
  role="Director" 
  content="Coming soon..." %}
  
  </div>
</div>